# Token bota pobrany z Discord Developer Portal (zakładka "Bot" -> "Reset Token")
DISCORD_BOT_TOKEN=twoj_tajny_token_bota_tutaj

# Application ID bota (zakładka "General Information" -> "Application ID")
DISCORD_CLIENT_ID=1368350667634376785

# Adres URL Twojego Dashboardu (na Vercel) bez ukośnika na końcu
DASHBOARD_URL=https://kitekbots.vercel.app
