# Token bota pobrany z Discord Developer Portal (zakładka "Bot" -> "Reset Token")
DISCORD_BOT_TOKEN=twoj_tajny_token_bota_tutaj

# Application ID bota (zakładka "General Information" -> "Application ID")
DISCORD_CLIENT_ID=1368350667634376785

# Adres URL Twojego Dashboardu (np. na Vercel lub Cloud Run) bez ukośnika na końcu
DASHBOARD_URL=https://ais-dev-wdeh5is5o2ah3ikmfzps2o-454494415153.europe-west2.run.app
